@{
    Layout = HerbShop.Utils.Routing.Layout;
}

<div class="w3-container">
    
<form action="@HerbShop.Utils.Routing.CartOrder" method="post">
    <label>Imię</label> <br />
    <input name="FirstName" /> <br />
    <label>Nazwisko</label> <br />
    <input name="LastName" /> <br />
    <label>Adres</label> <br />
    <input name="Address" /> <br />
    <label>Dodatkowe uwagi</label> <br />
    <textarea name="Description"></textarea> <br />
        
    <input type="submit" value="Zamawiam"/>
</form>
 
</div>

