@{
    Layout = HerbShop.Utils.Routing.Layout;
}

<div class="w3-container">
    
@{ 
    var cart = ViewData["cart"] as HerbShop.Models.Cart;
}
    <table class="w3-table w3-striped">
        <tr>
            <th>Nazwa</th>
            <th>Cena całkowita</th>
            <th>Ilość</th>
        </tr>
        @{
            foreach (var item in cart.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.QuantityInCart</td>
                </tr>
            }
        }
    </table>
    <p>Cena całkowita: @cart.Amount</p>
    <form>
        <label>Imię</label>
        <input name="firstName" />
        <label>Nazwisko</label>
        <input name="lastName" />
        <label>Adres</label>
        <input name="Address" />
    </form>
 
</div>

