@using HerbShop.Utils;
@using HerbShop.Models;
@{
    Layout = Routing.Layout;
}

<p>Jesteśmy firmą rodzinną z wieloletnim doświaczeniem.</p>
<p>Nasze produkty:</p>
@{ 
    var herbs = ViewData["herbs"] as List<Herb>;
    foreach (var herb in herbs)
    {
        <p class="w3-mobile w3-third">
            @herb.Name
        </p>
        <p class="w3-mobile w3-rest">
            <img src="@herb.Source" alt="herb's image" height="400"/>
        </p>
    }
}
