@using HerbShop.Utils;
@using HerbShop.Models;
@{
    Layout = Routing.Layout;
}

<p>Jesteśmy firmą rodzinną z wieloletnim doświaczeniem.</p>
<p>Nasze produkty:</p>
<table class="w3-table">
    @{ 
        var herbs = ViewData["herbs"] as List<Herb>;
        foreach (var herb in herbs)
        {
            <tr>

                <td>
                    @herb.Name
                </td>
                <td>
                    <img src="@herb.Source" alt="herb's image" height="400"/>
                </td>

            </tr>
        }
    }
</table>